body{
    background-color: beige;
}

#titulo {
    color: darkblue;
    font-size: 50px;
    text-align: center;
}

.class {
    color:black;
    font-size: 30px;
    text-align: justify;
}